* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.root h1, .root h2 {
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    font-family: Shippori Antique,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.root h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.wrapper {
    margin-bottom: 6rem;
}

/* section2 */
.div_img {
    width: 500px;
   height: 100%;
}

.div_img img {
   width: 100%;
}

.section2 {
    max-width: 75vw;
    margin: 0 auto;
}
.prj_container {
    display: flex;
    margin: 1rem;
    margin-bottom: 9rem;
    justify-content: space-between;
}

.info h1{
    color:  #046d33;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: Shippori Antique,sans-serif;
    text-align: center;
}

.info {
    background-color: black;
    width: 500px;
}

.info div {
    margin: 0.5rem;
    max-width: 100%;
}

.info p:nth-of-type(1){
    font-family: Shippori Antique,sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 3rem;
}

.info p:nth-of-type(2) {
    text-align: center;
}

.info p > a {
    color: #046d33;
    font-family: Shippori Antique,sans-serif;
    font-size: 1rem;
    border: 0.5px solid #046d33;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    transition:all 0.5s ease;
}

.info p > a:hover {
    border: 0.5px solid rgb(255, 255, 255, 0.8);
}


@media(max-width:780px){
    .prj_container {
       flex-direction: column;
    }
    .div_img {
        margin-bottom: 0;
        width: 100%;
    }
    .info {
        width: 100%;
    }
}

@media(max-width:550px){
    .section2 {
        max-width: 85vw;
    }
}

@media(max-width:375px){
    .section2 {
        max-width: 90vw;
    }
    .info h1 {
        font-size: 1.6rem;
    }
    .info p:nth-of-type(1) {
        font-size: 1rem;
    }
}